body {
    background-color: white;
    margin: 0 0 0 0;
}

@font-face {
    font-family: odin-font;
    src: url(./SteelworksVintageDemo-rR98.ttf);
}

#main {
    background-color: white;
    height: 100vh;
    margin: 0 120px 0 120px;
    display: flex;
    flex-direction: row;
}

/*graphicscolumn**************************/
#graphicscolumn {
    flex: 2;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    font-family: odin-font, sans-serif;
    font-size: 55px;
}

#odinpic {
    width: 1.2em;
    height: auto;
}

#logobar {
    background-color: rgb(0 0 0 / 50%);
    padding: 10 20 10 20;
    position: relative;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logotext {
    color: white;
}

#credit {
    position: relative;
    top: 80%;
    color: white;
    font-family: sans-serif;
    font-size: xx-small;
    display: flex;
    justify-content: center;
}

#credit a {
    color: white;
    margin: 0 1px;
}

/*signuparea**********************/
#signuparea {
    flex: 3;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #F4F5F7;
    margin: 0 0 0 0;
}

/*blurb**************/
#blurb {
    padding: 85px 150px 30px 30px;
}

/*Form*******************/
#signup {
    background-color: white;
    padding: 0 30px 0 30px;
    box-shadow: 0 5px 2px 0px #E5E7EB;
}

#signup label {
    text-transform: uppercase;
    font-size: xx-small;
    letter-spacing: 1px;
}

#signup input {
    border-color: #E5E7EB;
    border-style: solid;
}

#signup > div {
    display: flex;
    flex-direction: column;
}

#row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#row2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
#row3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#fname {
    display: flex;
    flex-direction: column;
}
#lname {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#em {
    display: flex;
    flex-direction: column;
}
#tn {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#pw {
    display: flex;
    flex-direction: column;
}
#cpw {
    display: flex;
    flex-direction: column;
    margin-left: 30px;}



/*buttons*****************/
#buttonarea {
    padding: 15px 0 0 30px;
}
#buttonarea button {
    background-color: #596D48;
    color: white;
    padding: 5px 25px 5px 25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-small;
    border-radius: 5px;
}

#oldaccount {
    font-weight: normal;
    font-size: x-small;
}

#oldaccount a {
    font-weight: bold;
    color: #596D48;
    text-decoration: none;
}